@import '../../../common/util.scss';

$btn-men-color: blue;
$btn-women-color: pink;

header, footer{
    width: 100vw;
    height: 10vh;
    background-color: blue;
    justify-content: center;
    align-items: center;
    h1,h2,h3{
        margin: 0;
    }
}
main{
    >section{
        margin-top: 10vh;
        background-color: #0f0;
        height: 80vh;
        justify-content: space-around;
    }
}
.fixed{
    position: fixed;
    left: 0;
}
.top{
    top: 0;
}
.bottom{
    bottom: 0;
}
.button{
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #aaa;
    padding: .2em;
}
.btn-men{
    background-color: $btn-men-color;
}
.btn-women{
    background-color: $btn-women-color;
}
.decButton{
    padding: 0 .2em;
    img{
        width: 100%;
        height: 100%;
    }
}
.buttons{
    justify-content: center;
    align-items: center;
    align-self: center;
    .button{
        width: 30vw;
        height: 30vw;
        font-size: 30vw;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
}
.count{
    font-size: 1.5rem;
    margin: .5em 0;
    text-align: center;
}
